.bgmain{min-width:1080px;width:100%;min-height:1250px;position:absolute}.bgmain2,.bgmain3,.bgmain4{bottom:0;left:0;right:0;top:0;position:absolute}.bgmain4{max-width:2048px;margin:0
auto;overflow:hidden}.bgmain4 .bgmain_left, .bgmain4
.bgmain_right{width:500px;height:600px;bottom:0;position:absolute}.bgmain4
.bgmain_left{left:0}.bgmain4
.bgmain_right{right:0}.bgmain_right_smoke{width:60px;height:100px;position:absolute;background-image:url(/i/global/anim_smoke.png);right:154px;bottom:310px;display:block;opacity:0.5;animation:smoke 1s steps(10) infinite}@keyframes
smoke{0%{background-position:0 0}100%{background-position:-600px 0}}.day{background:#a6bceb !important}.day
.bgmain.bgmain_day{opacity:1;display:block\0/}.day
.bgmain.bgmain_night{opacity:0;display:none\0/}.bgmain{background:url(/i/global/ava_bg_main2.jpg) repeat-x top center}.bgmain2{background:url(/i/global/ava_bg_main.jpg) repeat-x top center}.bgmain3{background:url(/i/global/ava_bg_bottom.jpg) repeat-x bottom center}.bgmain4
.bgmain_left{background:url(/i/global/ava_bgmain_left.png) no-repeat}.bgmain4
.bgmain_right{background:url(/i/global/ava_bgmain_right.png) no-repeat}