#container #top_menu .logo{background-image:url(/locale/RU/events/inlogo_feb14_2022.png) !important}
#container #top_menu .logo2{background-image:url(/locale/RU/events/inlogo_feb14_2022.png) !important}