.bgmain{min-width:1080px;width:100%;min-height:1250px;position:absolute}.bgmain2,.bgmain3,.bgmain4{bottom:0;left:0;right:0;top:0;position:absolute}.bgmain4{max-width:2048px;margin:0
auto;overflow:hidden}.bgmain4 .bgmain_left, .bgmain4
.bgmain_right{width:500px;height:600px;bottom:0;position:absolute}.bgmain4
.bgmain_left{left:0}.bgmain4
.bgmain_right{right:0}.bgmain_right_smoke{width:60px;height:100px;position:absolute;background-image:url(/i/global/anim_smoke.png);right:154px;bottom:310px;display:block;opacity:0.5;animation:smoke 1s steps(10) infinite}@keyframes
smoke{0%{background-position:0 0}100%{background-position:-600px 0}}.night{background:#242f67 !important}.night
.bgmain.bgmain_day{opacity:0;display:none\0/}.night
.bgmain.bgmain_night{opacity:1;display:block\0/}.bgmain.bgmain_night
.bgmain_moon{width:250px;height:250px;background-image:url(/i/global/bgmain_night_moon.png);position:absolute;top:120px;right:2%}.bgmain.bgmain_night
.bgmain_witch{width:100px;height:100px;background-image:url(/i/global/bgmain_night_witch.png);position:absolute;top:195px;right:40%}.bgmain.bgmain_night
.bgmain_meteor{width:300px;height:100px;background-image:url(/i/global/bgmain_night_meteor.png);position:absolute}.bgmain.bgmain_night
.bgmain_stars{display:none\0/}.bgmain.bgmain_night .bgmain_stars>div{width:30px;height:30px;background:url(/i/global/bgmain_night_star.png) no-repeat 0 0;position:absolute}.bgmain.bgmain_night .bgmain_stars
.star1{left:1%;top:220px}.bgmain.bgmain_night .bgmain_stars
.star2{left:7%;top:35px}.bgmain.bgmain_night .bgmain_stars
.star3{left:10%;top:350px}.bgmain.bgmain_night .bgmain_stars
.star4{left:15%;top:500px}.bgmain.bgmain_night .bgmain_stars
.star5{right:3%;top:20px}.bgmain.bgmain_night .bgmain_stars
.star6{right:10%;top:420px}.bgmain.bgmain_night .bgmain_stars
.star7{right:12%;top:550px}.ny_bg .bgmain_night .bgmain2, .ny_bgnight .bgmain_night
.bgmain2{background:url(/i/global/bg_main_NY_night.jpg) repeat-x top center}.ny_bg .bgmain_night .bgmain3, .ny_bgnight .bgmain_night
.bgmain3{background:url(/i/global/bg_bottom_NY_night.jpg) repeat-x bottom center}.ny_bg .bgmain_night .bgmain4 .bgmain_left, .ny_bgnight .bgmain_night .bgmain4
.bgmain_left{background:url(/i/global/bgmain_left_NY_night.png) no-repeat}.ny_bg .bgmain_night .bgmain4 .bgmain_right, .ny_bgnight .bgmain_night .bgmain4
.bgmain_right{background:url(/i/global/bgmain_right_NY_night.png) no-repeat}#top_menu
.logo{background-image:url(/locale/RU/m/NY/inside/inlogo.png)}#top_menu
.logo2{background-image:url(/locale/RU/m/NY/inside/inlogo_2.png)}#top_menu
.char_stat{background-image:url(/images/m/NY/inside/inbg_pers.png)}#top_menu
.char_stat_small{background-image:url(/images/m/NY/inside/inbg_pers2.png)}#top_menu,
#top_menu .char_stat,
#top_menu .char_stat_small,DIV#online:after{background-image:url(/images/m/NY/inside/inside_NY.png)}